/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--container-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 16px;
    color: inherit;
    margin-bottom: 20px;
}

.links .link {
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #ffd700;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links .link:hover {
    background-color: #f0c500;
}

:root {
    --background-color: #defdff;
    --text-color: #000;
    --container-bg: white;
}

body.dark-mode {
    --background-color: #020c1b;
    --text-color: white;
    --container-bg: #04142b;
}

body.dark-mode #email-text {
    color: var(--link-color-dark); /* Definir el color del enlace en modo oscuro */
}

.theme-toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.theme-toggle-btn .fa-sun {
    color: #ffd700;
}

.theme-toggle-btn .fa-moon {
    color: #ffffff;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.email-section {
    margin-top: 20px;
    text-align: center;
}

#email-text {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--link-color);
}

.copy-btn {
    padding: 10px 20px;
    background-color: #ffd700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #f0c500;
}

.copy-btn:active {
    transform: scale(0.98);
}